CA=certs/isrgrootx1.pem #leave as it is
DB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com #leave as it is
DB_PORT=4000
DB_NAME=test
DB_USER=  #insert your username here
DB_PASS=  #insert your password here
USE_MYSQL_DATABASE=True
JUDGE_API_URL=https://your-judge0-host/submissions
SECRET_KEY=change-me
DEBUG=False
COOKIE_SECURE=True
COOKIE_SAMESITE=None
ALLOWED_HOSTS=algo-arena-12fo.vercel.app,.vercel.app
FRONTEND_URL=https://your-frontend-domain.vercel.app
CSRF_TRUSTED_ORIGINS=https://your-frontend-domain.vercel.app
CORS_ALLOWED_ORIGINS=https://your-frontend-domain.vercel.app
